<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockbus.wted.core.user.dao.AccountsDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.blockbus.wted.core.user.entity.Account">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="currency" property="currency" />
		<result column="count" property="count" />
		<result column="account_type" property="accountType" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

</mapper>
